.container {
    width: 100%;
}
.row {
    width:100%;
    padding: 0 10%;
}
.main {
    min-height: 500px;
}
.t1 {
    width: 100%;
}
.t75 {
    width: 75%;
}
.t66 {
    width: 66.66%;
}
.t50 {
    width: 50%;
}
.t33 {
    width: 33.33%;
}
.t25 {
    width: 25%;
}
.text {
    width:95%;
}