$w: #fff;
$b: #333;
$blue-1: #4390BC;
$blue-2: #68A7CA;
$blue-3: #8DBDD8;
$blue-4: #B2D3E6;
$blue-5: #D8E9F3;
.c1 {
    background-color: $w;
    color: $b;
}
.c2 {
    background-color: $blue-1;
    color: $b;
}
.c3 {
    background-color: $blue-2;
    color: $b;
}
.c4 {
    background-color: $blue-3;
    color: $b;
}
.c5 {
    background-color: $blue-4;
    color: $b;
}
.c6 {
    background-color: $blue-5;
    color: $b;
}
.border-1 {
    border: 1px solid #f5f1f1;
}