@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var startNodeId = Model.MacroParameters["startNodeId"]; }
@if (startNodeId != null)
{
    var startNode = Umbraco.Content(startNodeId);
    var selection = startNode.Children.Where("Visible");

    if (selection.Any())
    {
            foreach (var item in selection)
            {
                <div>
                    <h4>@item.title</h4>
                    @item.text
                </div>
            }
    }
}